<!-- <nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzWidth]="720"
  (nzOnClose)="close()"
> -->
<form nz-form [formGroup]="detailForm" (ngSubmit)="updateProfile()">
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="email">Email</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            id="email"
            formControlName="email"
            placeholder="Nhập email"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Tên</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="name" placeholder="Nhập tên" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Số điện thoại</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="phone" placeholder="Nhập sđt" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Ảnh đại diện</nz-form-label>
        <nz-form-control>
          <nz-input-group nzSearch [nzAddOnAfter]="suffixImage">
            <input
              type="text"
              formControlName="avatar"
              nz-input
              placeholder="Thêm ảnh (bìa)"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <ng-template #suffixImage>
        <a nz-button nzType="primary" (click)="showImagePicker()" nzSearch>
          Chọn ảnh
        </a>
      </ng-template>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Mô tả</nz-form-label>
        <nz-form-control>
          <nz-input-group
            [nzSuffix]="textAreaClearTpl"
            class="ant-input-affix-wrapper-textarea-with-clear-btn"
          >
            <textarea
              nz-input
              formControlName="description"
              placeholder="Thêm mô tả"
            ></textarea>
          </nz-input-group>
          <ng-template #textAreaClearTpl>
            <!-- <i
                    nz-icon
                    class="ant-input-textarea-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    *ngIf="textValue"
                    (click)="textValue = null"
                  ></i
                > -->
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8" [style.margin-top.px]="10">
    <div nz-col nzSpan="8">
      <button
        type="submit"
        [disabled]="detailForm.invalid"
        nz-button
        nzType="primary"
        [style.float]="'right'"
      >
        Submit
      </button>
    </div>
  </div>
</form>

<!-- </nz-drawer> -->
