<!-- <nz-drawer
  [nzBodyStyle]="{
    height: 'calc(100% - 55px)',
    overflow: 'auto',
    'padding-bottom': '53px'
  }"
  [nzWidth]="720"
  (nzOnClose)="close()"
> -->
<form nz-form [formGroup]="detailForm" (ngSubmit)="createOrUpdate()">
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="name" nzRequired>Tên</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            id="name"
            nzErrorTip="Hãy nhập tên"
            formControlName="name"
            placeholder="Nhập tên"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label nzFor="email" nzRequired>Email</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            id="email"
            nzErrorTip="Hãy nhập email"
            formControlName="email"
            placeholder="Nhập email"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Avatar</nz-form-label>
        <nz-form-control>
          <nz-input-group nzSearch [nzAddOnAfter]="suffixImage">
            <input
              type="text"
              formControlName="avatar"
              nz-input
              placeholder="Thêm avatar"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <ng-template #suffixImage>
        <a nz-button nzType="primary" (click)="showImagePicker()" nzSearch>
          Chọn ảnh
        </a>
      </ng-template>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Thay đổi role</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="role">
            <nz-option
              *ngFor="let item of roles"
              nzValue="{{ item }}"
              nzLabel="{{ item }}"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label>Mô tả</nz-form-label>
        <nz-form-control>
          <nz-input-group
            [nzSuffix]="textAreaClearTpl"
            class="ant-input-affix-wrapper-textarea-with-clear-btn"
          >
            <textarea
              nz-input
              formControlName="description"
              placeholder="Thêm mô tả"
            ></textarea>
          </nz-input-group>
          <ng-template #textAreaClearTpl>
            <!-- <i
                    nz-icon
                    class="ant-input-textarea-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    *ngIf="textValue"
                    (click)="textValue = null"
                  ></i
                > -->
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Số điện thoại</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            nzErrorTip="Hãy nhập đúng số điện thoại"
            formControlName="phone"
            placeholder="Nhập số điện thoại"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12" *ngIf="value === undefined">
      <nz-form-item>
        <nz-form-label>Mật khẩu</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            nzErrorTip="Hãy nhập đúng số điện thoại"
            formControlName="password"
            type="password"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="8" [style.margin-top.px]="10">
    <div nz-col nzSpan="24">
      <button
        type="submit"
        [disabled]="detailForm.invalid"
        nz-button
        nzType="primary"
        [style.float]="'right'"
      >
        Submit
      </button>
    </div>
  </div>
</form>

<!-- </nz-drawer> -->
